# sbt
# (may want to keep parts of 'project')
bin/
project/*
target/
build/

# intellij idea
*.log
*.iml
*.ipr
*.iws
.idea

.history
.scala_dependencies
.cache
.cache-main

#general
*.class
*.env

null
!project/build.properties
!project/plugins.sbt
